:root{
    --bg-color:#fff;
    --text-color:black;
    --second--color:#8ab4f8;
}
*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}
body{
    background-color: var(--bg-color);
    color:var(--text-color);
    overflow-x: hidden;
    
}
.header{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1rem;
    margin: 1.3rem;
    padding: 1.3rem;
}
.img-google{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    margin-top: 7%;
}
.search form .search-text{
    border-radius: 22px;
    box-shadow:0 2px 6px 0;
    font-size: 16px;
    width:30%;
    padding:.8rem .8rem;
    display: flex;
    position:relative;
    left: 35%;

}
.search form .submit-botton{
    font-size: 1rem;
    box-shadow:0 2px 6px 0;
    width: 10%;
    padding:.8rem .8rem;
    position:relative;
    left: 40%;
    margin-top: 2%;
    cursor: pointer;

}
.search form .submit-botton2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.search form .submit-botton2 input{
    cursor: pointer;
    box-shadow:0 2px 6px 0;
    font-size: 1rem;
    width: 10%;
    padding:.8rem .8rem;

}
.header div a{
    padding: .5rem 1rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--text-color);
    cursor: pointer;
}
.header div a:hover{
    text-decoration:underline;
}
.header-adv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1%;
}
.adv-search .title-adv hr{
    border: solid gray .01rem;
}
 .title-adv p{
    padding: 1% 2%;
    font-size: 1.6rem;
    color: red;
}
.adv-search .header-adv div a{
    padding: .5rem 1rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--text-color);

}

.adv-search .header-adv div a:hover{
    text-decoration:underline;
}
.Advanced-search-p .Advanced-search-p1 form .search-q .q-q{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    align-items: center;
    column-gap: 10px;
  row-gap: 15px;
    padding: 1%;
    width: 80%;
    font-size: 1.2rem;
} 
.Advanced-search-p .Advanced-search-p1 form .search-q .q-q input{
    border: black solid .07rem;
    font-size: 1rem;
    width: 90%;
    margin-left: 1%;
    padding: .37rem;
}
.Advanced-search-p .Advanced-search-p1 form p{
    font-size: 1.4rem;
    padding: 1%;
}
.Advanced-search-p{
    margin: 2%;
}
.Advanced-search-p .Advanced-search-p1 form .summet .summet-botton{
    font-size: .8rem;
    padding: .6rem;
    background: var(--second--color);
    border: solid .1rem var(--second--color);
    font-weight: bold;
    margin-left: 42.7%;
    width: 10%;
    cursor: pointer;
}

.Advanced-search-p .Advanced-search-p1 form .summet input:hover{
    box-shadow: .4rem 0 .4rem 0 rgb(205, 233, 247);
}
.q-q h6{
    margin-left: 2%;

}
